footer {
  background-color: #483C46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 0px;
  width: 100vw;
}

p {
  margin: 0;
  color: #F4743B;
  font-size: 14px;
}

img {
  height: 10vh;
}

.powered {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.copyright {
  margin-right: 20px;
}
