<section id="serviceComponent">
  <div *ngIf="user.admin" class="buttons">
    <button id="openRequestsButton" class="navButton" (click)="toggleNavigation('openRequests')">Open Requests</button>
    <button id="addAsResidentButton" class="navButton" (click)="toggleNavigation('addAsResident')">My Requests</button>
    <button id="addForResidentButton" class="navButton" (click)="toggleNavigation('addForResident')">Add for Resident</button>
  </div>

  <div *ngIf="navigation === 'openRequests'" id="openRequests">
    <ul>
      <li *ngFor="let openRequest of openRequests; let i = index">
        <div class="card openRequest">
            <i class="{{ openRequest.expanded ? 'fas fa-minus' : 'fas fa-plus' }} expansion" (click)="toggleCardExpansion(i)"></i>
            <h3>Unit {{ openRequest.unit }} - {{ openRequest.subject }}</h3>
            <div class="flexMedium">
              <div class="flexMediumItem paddingRight">
                <p *ngIf="openRequest.expanded" class="lineBreak">Resident: {{ openRequest.user.first }} {{ openRequest.user.last }}</p>
                <p *ngIf="openRequest.expanded" class="lineBreak">Contact Number: {{ openRequest.contact }}</p>
                <p *ngIf="openRequest.expanded" class="lineBreak">Description: {{ openRequest.description }}</p>
              </div>
            <div class="flexMediumItem">
              <form *ngIf="openRequest.expanded" #updateStatus="ngForm" (ngSubmit)="updateRequest(i)">
                <div class="flexSmall leftJustify">
                  <label for="status" class="lineBreak">Status: </label>
                  <select name="status" class="lineBreak" #status="ngModel" [(ngModel)]="openRequest.open">
                    <option value="true" selected>Open</option>
                    <option value="false">Closed</option>
                  </select>
                </div>
                <label for="adminNotes">Management Notes:</label>
                <textarea rows="3" type="text" name="admin_notes" class="lineBreak" #adminNotes="ngModel" [(ngModel)]="openRequest.admin_notes" required maxlength="1000"></textarea>
                <p class="characterCount marginBottom">{{ 1000 - openRequest.admin_notes.length }} characters remaining</p>
                <button type="submit" [disabled]="!status.dirty && !adminNotes.dirty">Update Service Request</button>
              </form>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="navigation === 'addForResident'" [ngClass]="{ 'bottomOfPage': requests.length === 0 }" class="card" id="addForResident">
    <h2>Submit a New Service Request</h2>
    <form #addRequest="ngForm" (ngSubmit)="addServiceRequestForResident()">
      <div class="flexLarge">
        <div class="flexLargeItem">
          <div class="flexMedium">
            <label for="lastName" class="lineBreak">Resident Last Name</label>
            <input type="text" name="lastName" class="lineBreak marginBottom" #last="ngModel" [(ngModel)]="residentRequest.last" required />
          </div>
          <div class="flexMedium">
            <label for="email" class="lineBreak">Resident Email</label>
            <input type="text" name="email"  class="lineBreak marginBottom" #email="ngModel" [(ngModel)]="residentRequest.email" required />
          </div>
          <div class="flexMedium">
            <label for="unit" class="lineBreak">Unit</label>
            <input type="text" name="unit" class="lineBreak marginBottom" #unit="ngModel" [(ngModel)]="residentRequest.unit" required />
          </div>
        </div>
        <div class="flexLargeItem">
          <div class="flexMedium">
            <label for="contact" class="lineBreak">Best Contact Number during Business Hours</label>
            <input type="text" name="contact" class="lineBreak marginBottom" #contact="ngModel" [(ngModel)]="residentRequest.contact" required
            />
          </div>
          <div class="flexMedium">
            <label for="subject" class="lineBreak">Subject</label>
            <input type="text" name="subject" class="lineBreak marginBottom" #subject="ngModel" [(ngModel)]="residentRequest.subject" required
            />
          </div>
          <div class="flexLargeItem">
            <label for="description" class="lineBreak">Description</label>
            <textarea rows="3" name="description" class="lineBreak" #description="ngModel" [(ngModel)]="residentRequest.description"
              required maxlength="1000"></textarea>
          </div>
          <p class="characterCount marginBottom">{{ 1000 - residentRequest.description.length }} characters remaining</p>
        </div>
      </div>
      <button type="submit" [disabled]="!residentRequest.last || !residentRequest.email || !residentRequest.unit || !residentRequest.contact || !residentRequest.subject || !residentRequest.description">Submit Service Request</button>
    </form>
    <p *ngIf="statusMessage" id="statusMessage">{{ statusMessage }}</p>
  </div>

  <div *ngIf="!user.admin || navigation === 'addAsResident'" class="card" id="addAsResident">
    <h2>Submit a New Service Request</h2>
    <form #addRequest="ngForm" (ngSubmit)="addServiceRequest()">
      <div class="flexLarge">
        <div class="flexLargeItem">
          <div class="flexMedium">
            <label for="unit" class="lineBreak">Unit</label>
            <input type="text" name="unit" class="lineBreak marginBottom" #unit="ngModel" [(ngModel)]="newRequest.unit" required />
          </div>
          <div class="flexMedium">
            <label for="contact" class="lineBreak">Best Contact Number during Business Hours</label>
            <input type="text" name="contact" class="lineBreak marginBottom" #contact="ngModel" [(ngModel)]="newRequest.contact" required />
          </div>
        </div>
        <div class="flexLargeItem">
          <div class="flexMedium">
            <label for="subject" class="lineBreak">Subject</label>
            <input type="text" name="subject" class="lineBreak marginBottom" #subject="ngModel" [(ngModel)]="newRequest.subject" required />
          </div>
          <div class="flexLargeItem">
            <label for="description" class="lineBreak">Description</label>
            <textarea rows="3" name="description" class="lineBreak" #description="ngModel" [(ngModel)]="newRequest.description" required maxlength="1000"></textarea>
          </div>
          <p class="characterCount marginBottom">{{ 1000 - newRequest.description.length }} characters remaining</p>
        </div>
      </div>
      <button type="submit" [disabled]="!newRequest.unit || !newRequest.contact || !newRequest.subject || !newRequest.description">Submit Service Request</button>
    </form>
    <p *ngIf="statusMessage" id="statusMessage">{{ statusMessage }}</p>
  </div>

  <ul *ngIf="navigation === 'addAsResident' || !user.admin">
    <li *ngFor="let request of requests">
      <div class="card requests">
        <h3>Unit {{ request.unit }}</h3>
        <h3>{{ request.subject }}</h3>
        <p>Status: {{ request.open ? "Open" : "Closed" }}</p>
        <p>Description: {{ request.description }}</p>
        <p>Management Notes: {{ request.admin_notes || "N/A" }}</p>
      </div>
    </li>
  </ul>
</section>
