#serviceComponent {
  position: static;
  color: #3C6E71;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

ul {
  margin: 10px 0 calc(10vh + 20px);
}

.marginBottom {
  margin-bottom: 20px;
}

h2 {
  margin-top: 10px;
}

h2, #statusMessage {
  text-align: center;
}

textarea, input {
  width: 77vw;
}

button {
  background-color: #BEEE62;
  font-size: 16px;
  display: block;
  margin: auto;
}

button:disabled {
  background-color: #aaaaaa;
  color: #eeeeee;
  cursor: default;
}

button:hover {
  cursor: pointer;
}

.buttons {
  width: 85vw;
  display: flex;
  justify-content: space-between;
}

.navButton {
  width: 25vw;
  height: 45px;
}

#openRequestsButton {
  background-color: #F4743B;
  color: #eeeeee;
}

#openRequestsButton:hover {
  background-color: #FF965D;
}

#addAsResidentButton {
  background-color: #3C6E71;
  color: #eeeeee;
}

#addAsResidentButton:hover {
  background-color: #5e9093;
}

#addForResidentButton {
  background-color: #70AE6E;
  color: #eeeeee;
}

#addForResidentButton:hover {
  background-color: #92D090;
}

.expansion {
  float: right;
}

.expansion:hover {
  cursor: pointer;
}

.openRequest p {
  margin-top: 0;
}

.flexSmall {
  display: flex;
  justify-content: left;
}

.paddingRight {
  padding-right: 10px;
}

.characterCount {
  font-size: 12px;
  text-align: right;
}

#addForResident {
  margin: 10px 0 calc(10vh + 20px);
}

@media(min-width: 650px) {
  .flexMedium {
    display: flex;
    justify-content: space-between;
  }

  input {
    width: initial;
  }

  .requests {
    text-align: center;
  }

  .openRequest textarea {
    width: 30vw;
  }

  .openRequest button {
    float: right;
  }
}

@media(min-width: 1000px) {
  .flexMedium {
    display: initial;
    justify-content: initial;
  }

  .openRequest .flexMedium {
    display: flex;
    justify-content: space-between;
  }

  .flexLarge {
    display: flex;
    justify-content: space-around;
  }

  textarea, input {
    width: 30vw;
  }
}

