main {
  height: 80vh;
  width: 100vw;
  background-image: url("../../assets/images/apartment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  top: 10vh;
}
