main {
  height: auto;
  min-height: 80vh;
  width: 100vw;
  background-image: url("../../assets/images/apartment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 10vh;
}

.notAuthenticated {
  height: 80vh;
}
