.modal-background {
  width: 100vw;
  height: 80vh;
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#credentials {
  color: #3C6E71;
}

label, button {
  display: block;
}

button {
  margin: auto;
  margin-bottom: 20px;
  background-color: #BEEE62;
  color: #3C6E71;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

input {
  margin-bottom: 10px;
  width: 90px;
}

button:disabled {
  background-color: #aaaaaa;
  color: #eeeeee;
  cursor: default;
}
