<div class="modal-background">
  <div class="card" id="credentials">
    <h2>User Credentials</h2>
    <form #credentialsForm="ngForm" (ngSubmit)="authenticateUser()">
      <label for="last">Last Name</label>
      <input type="text" name="last" #last="ngModel" [(ngModel)]="credentials.last" required minlength="2" />
      <label for="pin">PIN</label>
      <input type="number" name="pin" #pin="ngModel" [(ngModel)]="credentials.pin" required />
      <button [disabled]="!credentialsForm.form.valid || pin.value < 10000" [ngStyle]="">Submit</button>
    </form>
  </div>
</div>
