#paymentComponent {
  position: static;
  color: #3C6E71;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

button {
  background-color: #BEEE62;
  font-size: 16px;
  display: block;
  margin: auto;
}

button:disabled {
  background-color: #aaaaaa;
  color: #eeeeee;
  cursor: default;
}

button:hover {
  cursor: pointer;
}

.amount {
  width: 60px;
}

#receipt {
  margin: 10px 0 calc(10vh + 20px);
}

#card-info {
  max-width: 400px;
}

.error {
  color: red;
  text-align: center;
}

.statusMessage {
  text-align: center;
}

.buttons {
  width: 85vw;
  display: flex;
  justify-content: space-between;
}

.navButton {
  width: 25vw;
  height: 45px;
}

#viewByDatesButton {
  background-color: #F4743B;
  color: #eeeeee;
}

#viewByDatesButton:hover {
  background-color: #FF965D;
}

#viewByResidentButton {
  background-color: #3C6E71;
  color: #eeeeee;
}

#viewByResidentButton:hover {
  background-color: #5e9093;
}

#makePaymentButton {
  background-color: #70AE6E;
  color: #eeeeee;
}

#makePaymentButton:hover {
  background-color: #92D090;
}

.dateSeparator {
  display: inline;
}

.yearInput {
  width: 50px;
}

.muchMarginBottom {
  margin-bottom: 20px;
}

.bottomOfPage {
  margin: 10px 0 calc(10vh + 20px);
}

.centeredSmall {
  text-align: center;
}

.noMarginUntilLarge {
  margin: 0;
}

.noTopMarginUntilLarge {
  margin-top: 0;
}

.noBottomMarginUntilLarge {
  margin-bottom: 0;
}

.flexMediumSpaceAround, .revenueTotal {
  text-align: center;
}

.centered {
  margin: auto;
}

.marginBottom {
  margin-bottom: 10px;
}

.summary {
  background-color: #ffffff;
}

@media(min-width: 601px) {
  .flexMedium, .flexMediumSpaceAround {
    display: flex;
  }

  .flexMedium {
    justify-content: left;
  }

  .flexMediumSpaceAround {
    justify-content: space-around;
  }

  #card-info {
    width: 400px;
  }
}

@media(min-width: 841px) {
  .flexLarge, .flexLargeSpaceBetween {
    display: flex;
  }

  .flexLarge {
    justify-content: center;
  }

  .flexLargeSpaceBetween {
    justify-content: space-between;
  }

  .cardContainer {
    margin-left: 5vw;
  }

  .noMarginUntilLarge, .noTopMarginUntilLarge, .noBottomMarginUntilLarge {
    margin: 1em 0;
  }
}
