#paymentComponent {
  position: static;
  color: #3C6E71;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

button {
  background-color: #BEEE62;
  font-size: 16px;
  display: block;
  margin: auto;
}

button:disabled {
  background-color: #aaaaaa;
  color: #eeeeee;
  cursor: default;
}

button:hover {
  cursor: pointer;
}

.amount {
  width: 60px;
}

#receipt {
  margin: 10px 0 calc(10vh + 20px);
}

#card-info {
  max-width: 400px;
}

.error {
  color: red;
  text-align: center;
}

.statusMessage {
  text-align: center;
}

@media(min-width: 601px) {
  .flexMedium {
    display: flex;
    justify-content: left;
  }

  #card-info {
    width: 400px;
  }
}

@media(min-width: 841px) {
  .flexLarge {
    display: flex;
    justify-content: center;
  }

  .cardContainer {
    margin-left: 5vw;
  }
}
