body {
  margin: 0;
}

body, textarea, input {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  width: 80vw;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
}

.lineBreak {
  display: block;
  margin-bottom: 10px;
}
