<div id="calendar-component">
  <form #newEvent="ngForm" (ngSubmit)="addEvent()" *ngIf="user && user.admin">
    <label for="start">Start Time</label>
    <select name="month" [(ngModel)]="month">
      <option *ngFor="let month of monthOptions" value="{{ month }}">{{ month }}</option>
    </select>

  </form>

  <ul>
    <li *ngFor="let event of events">
      <div class="card">
        <h3>{{ event.name }}</h3>
        <p>{{ event.start.toLocaleTimeString("en-US").replace(":00 ", "") }} - {{ event.finish.toLocaleTimeString("en-US").replace(":00 ", "") }}</p>
        <p>{{ event.start.toDateString() }}</p>
        <p>Location: {{ event.location }}</p>
        <p *ngIf="event.description">{{ event.description }}</p>
      </div>
    </li>
  </ul>
</div>
