#buttonsList {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonsRow {
  display: flex;
  justify-content: space-around;
}

ul {
  width: 100%;
}

@media(min-width: 600px) {
  #buttonsList {
    flex-direction: row;
    align-items: center;
  }
}
